.pagesTable thead th:nth-child(1) {
  background: #ff0800;
  border: 2px solid #fff700; }

.pagesTable thead th:nth-child(2) {
  background: #ff2100;
  border: 2px solid #ffde00; }

.pagesTable thead th:nth-child(3) {
  background: #ff3b00;
  border: 2px solid #ffc400; }

.pagesTable thead th:nth-child(4) {
  background: #ff5400;
  border: 2px solid #ffab00; }

.pagesTable thead th:nth-child(5) {
  background: #ff6e00;
  border: 2px solid #ff9100; }

.pagesTable thead th:nth-child(6) {
  background: #ff8700;
  border: 2px solid #ff7800; }

.pagesTable thead th:nth-child(7) {
  background: #ffa100;
  border: 2px solid #ff5e00; }

.pagesTable thead th:nth-child(8) {
  background: #ffba00;
  border: 2px solid orangered; }

.pagesTable thead th:nth-child(9) {
  background: #ffd400;
  border: 2px solid #ff2b00; }

.pagesTable thead th:nth-child(10) {
  background: #ffed00;
  border: 2px solid #ff1200; }

.pagesTable thead th:first-child {
  background: transparent;
  border: 0;
  color: white; }
  .pagesTable thead th:first-child:hover {
    background: transparent;
    border: 0;
    color: white; }

.pagesTable thead th {
  padding: 7px;
  border-radius: 10px;
  margin: 2px 5px;
  color: white;
  min-width: 130px; }
  .pagesTable thead th:hover {
    background: white;
    color: #2e2e2e;
    cursor: default; }

.mG-back {
  background: #213542;
  /* Old browsers */
  background: -moz-linear-gradient(top, #213542, #213542 21%, #3366CC 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #213542 0%, #213542 21%, #3366CC 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #213542 0%, #213542 21%, #3366CC 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-image: -o-linear-gradient(#213542, #3366CC); }

.mV-back {
  background: #213542;
  /* Old browsers */
  background: -moz-linear-gradient(top, #213542, #213542 21%, #40B307 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #213542 0%, #213542 21%, #40B307 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #213542 0%, #213542 21%, #40B307 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-image: -o-linear-gradient(#213542, #40B307); }

.mC-back {
  background: #213542;
  /* Old browsers */
  background: -moz-linear-gradient(top, #213542, #213542 21%, #FD7400 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #213542 0%, #213542 21%, #FD7400 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #213542 0%, #213542 21%, #FD7400 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-image: -o-linear-gradient(#213542, #FD7400); }

.mB-back {
  background: #213542;
  /* Old browsers */
  background: -moz-linear-gradient(top, #213542, #213542 21%, #CE952B 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #213542 0%, #213542 21%, #CE952B 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #213542 0%, #213542 21%, #CE952B 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-image: -o-linear-gradient(#213542, #CE952B); }

.mG {
  background: #3366CC; }
  .mG:hover {
    background: #85a3e0 !important; }

.mV {
  background: #40B307; }
  .mV:hover {
    background: #6df729 !important; }

.mC {
  background: #FD7400; }
  .mC:hover {
    background: #ffab64 !important; }

.mB {
  background: #FCCA52; }
  .mB:hover {
    background: #fee9b6 !important; }

@-webkit-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #3366CC, 0 0 70px #3366CC, 0 0 80px #3366CC, 0 0 100px #3366CC, 0 0 150px #3366CC; }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #3366CC, 0 0 35px #3366CC, 0 0 40px #3366CC, 0 0 50px #3366CC, 0 0 75px #3366CC; } }

@-webkit-keyframes neonVariant {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #40B307, 0 0 70px #40B307, 0 0 80px #40B307, 0 0 100px #40B307, 0 0 150px #40B307; }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #40B307, 0 0 35px #40B307, 0 0 40px #40B307, 0 0 50px #40B307, 0 0 75px #40B307; } }

@-webkit-keyframes neonChem {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FD7400, 0 0 70px #FD7400, 0 0 80px #FD7400, 0 0 100px #FD7400, 0 0 150px #FD7400; }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FD7400, 0 0 35px #FD7400, 0 0 40px #FD7400, 0 0 50px #FD7400, 0 0 75px #FD7400; } }

@-webkit-keyframes neonBioThings {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FCCA52, 0 0 70px #FCCA52, 0 0 80px #FCCA52, 0 0 100px #FCCA52, 0 0 150px #FCCA52; }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FCCA52, 0 0 35px #FCCA52, 0 0 40px #FCCA52, 0 0 50px #FCCA52, 0 0 75px #FCCA52; } }

.flex {
  display: flex; }

.flex-center {
  justify-content: center; }

.activeUsersBox {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,2c2c2c+50,000000+51,111111+60,2b2b2b+76,1c1c1c+91,131313+100;Black+Gloss+%231 */
  background: #4c4c4c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, black 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, black 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, black 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
  /* IE6-9 */
  padding: 20px;
  width: 50%;
  border-radius: 15px;
  border: white 2px solid;
  margin: auto !important;
  margin: 20px 0px; }

.activeUsersBoxTest {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,2c2c2c+50,000000+51,111111+60,2b2b2b+76,1c1c1c+91,131313+100;Black+Gloss+%231 */
  background: #4c4c4c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, black 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, black 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, black 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
  /* IE6-9 */
  padding: 20px;
  border-radius: 15px;
  border: lightgrey 5px solid;
  box-shadow: 6px 6px 25px black; }

.activeUsers-MyGene {
  font-size: 5em;
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate; }

.activeUsers-MyVariant {
  font-size: 5em;
  -webkit-animation: neonVariant 1.5s ease-in-out infinite alternate;
  animation: neonVariant 1.5s ease-in-out infinite alternate; }

.activeUsers-MyChem {
  font-size: 5em;
  -webkit-animation: neonChem 1.5s ease-in-out infinite alternate;
  animation: neonChem 1.5s ease-in-out infinite alternate; }

.activeUsers-BioThings {
  font-size: 5em;
  -webkit-animation: neonBioThings 1.5s ease-in-out infinite alternate;
  animation: neonBioThings 1.5s ease-in-out infinite alternate; }

.twoEM {
  font-size: 2em; }

.bold {
  font-weight: bold; }

.centerText {
  text-align: center; }

.padding20 {
  padding: 20px; }

.margin20 {
  margin: 20px; }

.noMargin {
  margin: 0; }

.noPadding {
  padding: 0; }

.whiteText {
  color: white; }

.margin0Auto {
  margin: 0 auto; }

body {
  font-family: sans-serif;
  height: 100vh; }

h1, h2, h3, h4, h5 {
  font-weight: lighter; }

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
.header {
  overflow: hidden;
  background-color: #414141;
  padding: 5px; }
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    border-radius: 4px;
    font-family: sans-serif; }
  .header a.logo {
    font-size: 25px;
    color: white;
    font-weight: lighter; }
  .header a.active {
    background-color: #2395cd;
    color: white; }

.header-right {
  float: right; }

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left; }
  .header-right {
    float: none; } }

.btn {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  font-family: sans-serif; }

.btn-green {
  background: #40B307; }
  .btn-green:hover {
    background: #328c05;
    transition: all 0.3s ease; }
  .btn-green:active {
    background: #143802; }

.btn-blue {
  background: #3366CC; }
  .btn-blue:hover {
    background: #2b56ab;
    transition: all 0.3s ease; }
  .btn-blue:active {
    background: #1a3366; }

.btn-yellow {
  background: #FCCA52; }
  .btn-yellow:hover {
    background: #fbbe2a;
    transition: all 0.3s ease; }
  .btn-yellow:active {
    background: #cb9004; }

.btn-orange {
  background: #FD7400; }
  .btn-orange:hover {
    background: #d46100;
    transition: all 0.3s ease; }
  .btn-orange:active {
    background: #7e3a00; }

.btn-red {
  background: #e74c3c; }
  .btn-red:hover {
    background: #df2e1b;
    transition: all 0.3s ease; }
  .btn-red:active {
    background: #921e12; }

.btn-grey {
  background: #aaaaaa; }
  .btn-grey:hover {
    background: #969696;
    transition: all 0.3s ease; }
  .btn-grey:active {
    background: #6a6a6a; }

.bg-white {
  background: white; }

.toggleNav {
  background: #b9b9b9;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; }
  .toggleNav a {
    text-align: center;
    border-radius: 5px;
    flex: 1;
    margin: 5px;
    max-width: 150px;
    padding: 10px;
    text-decoration: none; }
    .toggleNav a:hover {
      background: #464646; }

#logoutbtn {
  background: #e85349;
  border-radius: 10px;
  border: 2px solid lightgrey;
  box-shadow: 2px 2px 2px grey;
  margin-right: 10px;
  display: inline-flex; }
  #logoutbtn:hover {
    background: #ee7e76;
    cursor: pointer; }
    #logoutbtn:hover a {
      color: white; }

#loginbtn {
  background: #85e849;
  border-radius: 10px;
  border: 2px solid lightgrey;
  box-shadow: 2px 2px 2px grey;
  margin-right: 10px;
  display: inline-flex; }
  #loginbtn:hover {
    background: #a3ee76;
    cursor: pointer; }
    #loginbtn:hover a {
      color: white; }

#footer {
  background: #414141;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100vw; }
  #footer p {
    color: #797979;
    font-size: .7em; }

.st0 {
  fill: #4D4D4D; }

.st1 {
  fill: #FFFFFF; }

.st2 {
  fill: #D3D3D3; }

.st3 {
  fill: #F15A24; }

.st4 {
  fill: #C1272D; }

.st5 {
  fill: #F7931E; }

.st6 {
  fill: #FBB03B; }

.st7 {
  fill: #ED1C24; }

.st8 {
  fill: #333333; }

.users-gradient {
  width: 50%;
  height: 20px;
  border-radius: 10px;
  border: 2px solid white;
  margin: auto;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f49c+0,fbd758+34,fb993e+64,fe5252+100 */
  background: #f7f49c;
  /* Old browsers */
  background: -moz-linear-gradient(left, #f7f49c 0%, #fbd758 34%, #fb993e 64%, #fe5252 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #f7f49c 0%, #fbd758 34%, #fb993e 64%, #fe5252 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f7f49c 0%, #fbd758 34%, #fb993e 64%, #fe5252 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f49c', endColorstr='#fe5252',GradientType=1 );
  /* IE6-9 */ }
