$mainMyGene: #3366CC;
$mainMyChem: #FD7400;
$mainMyVariant: #40B307;
$white: black;
$black: white;
$font_family_1: sans-serif;
$light-grey: #f1f1f1;
$light-grey2: #ddd;
$blue: #2395cd;

// HELPERS

@-webkit-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

.flex{
  display: flex;
}

.flex-center{
  justify-content: center;
}

.activeUsersBox{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,2c2c2c+50,000000+51,111111+60,2b2b2b+76,1c1c1c+91,131313+100;Black+Gloss+%231 */
  background: rgb(76,76,76); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
  padding: 20px;
  width: 50%;
  border-radius: 15px;
  border: white 2px solid;
  margin:auto !important;
  margin: 20px 0px;
}

.activeUsersBoxTest{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,2c2c2c+50,000000+51,111111+60,2b2b2b+76,1c1c1c+91,131313+100;Black+Gloss+%231 */
  background: rgb(76,76,76); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
  padding: 20px;
  border-radius: 15px;
  border: white 2px solid;
}

.activeUsers-MyGene{
  font-size: 5em;
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;
}

.twoEM{
  font-size: 2em;
}

.bold{
  font-weight: bold;
}

.centerText{
  text-align: center;
}

.padding20{
  padding:20px;
}

.margin20{
  margin:20px;
}

.noMargin{
  margin: 0;
}

.noPadding{
  padding: 0;
}

.whiteText{
  color:white;
}

.margin0Auto{
  margin: 0 auto;
}

body{
  font-family: sans-serif;
  height: 100vh;
}

h1,h2,h3,h4,h5{
  font-weight: lighter;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
.header {
	overflow: hidden;
	background-color: $light-grey;
	padding: 5px;
	a {
		float: left;
		color: $white;
		text-align: center;
		padding: 12px;
		text-decoration: none;
		font-size: 18px;
		line-height: 20px;
		border-radius: 4px;
		font-family: $font_family_1;
		&:hover {
			background-color: $light-grey2;
			color: $white;
		}
	}
	a.logo {
		font-size: 25px;
		font-weight: lighter;
	}
	a.active {
		background-color: $blue;
		color: $black;
	}
}
.header-right {
	float: right;
}
@media screen and (max-width: 500px) {
	.header {
		a {
			float: none;
			display: block;
			text-align: left;
		}
	}
	.header-right {
		float: none;
	}
}

@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,25%);
  }
}

.btn {
 color:white;
 text-decoration:none;
 padding:5px 10px;
 border-radius:3px;
 font-family: sans-serif;
}

.btn-green {
   @include button-bg(#2ecc71);
}

.btn-blue {
   @include button-bg(#3498db);
}

.btn-yellow{
   @include button-bg(#f1c40f);
}

.btn-red {
   @include button-bg(#e74c3c);
}
.btn-grey {
   @include button-bg(#aaaaaa);
}

.users-gradient{
  width: 50%;
  height: 20px;
  border-radius: 10px;
  border: 2px solid white;
  margin:auto;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f49c+0,fbd758+34,fb993e+64,fe5252+100 */
background: rgb(247,244,156); /* Old browsers */
background: -moz-linear-gradient(left, rgba(247,244,156,1) 0%, rgba(251,215,88,1) 34%, rgba(251,153,62,1) 64%, rgba(254,82,82,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(247,244,156,1) 0%,rgba(251,215,88,1) 34%,rgba(251,153,62,1) 64%,rgba(254,82,82,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(247,244,156,1) 0%,rgba(251,215,88,1) 34%,rgba(251,153,62,1) 64%,rgba(254,82,82,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f49c', endColorstr='#fe5252',GradientType=1 ); /* IE6-9 */
}
