$mainColor: lightblue;
$color_1: black;
$color_2: white;
$font_family_1: sans-serif;
$background_color_1: #f1f1f1;
$background_color_2: #ddd;
$background_color_3: dodgerblue;


body{
  font-family: sans-serif;
  height: 100vh;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
.header {
	overflow: hidden;
	background-color: $background_color_1;
	padding: 5px;
	a {
		float: left;
		color: $color_1;
		text-align: center;
		padding: 12px;
		text-decoration: none;
		font-size: 18px;
		line-height: 20px;
		border-radius: 4px;
		font-family: $font_family_1;
		&:hover {
			background-color: $background_color_2;
			color: $color_1;
		}
	}
	a.logo {
		font-size: 25px;
		font-weight: bold;
	}
	a.active {
		background-color: $background_color_3;
		color: $color_2;
	}
}
.header-right {
	float: right;
}
@media screen and (max-width: 500px) {
	.header {
		a {
			float: none;
			display: block;
			text-align: left;
		}
	}
	.header-right {
		float: none;
	}
}

@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,25%);
  }
}

.btn {
 color:white;
 text-decoration:none;
 padding:5px 10px;
 border-radius:3px;
 font-family: sans-serif;
}

.btn-green {
   @include button-bg(#2ecc71);
}

.btn-blue {
   @include button-bg(#3498db);
}

.btn-yellow{
   @include button-bg(#f1c40f);
}

.btn-red {
   @include button-bg(#e74c3c);
}
.btn-grey {
   @include button-bg(#aaaaaa);
}
