$mainMyGene: #3366CC;
$mainMyChem: #FD7400;
$mainMyVariant: #40B307;
$mainBioThings: #FCCA52;
$mainBioThingsDarker: #CE952B;
$white: black;
$black: white;
$font_family_1: sans-serif;
$light-grey: #f1f1f1;
$light-grey2: #ddd;
$blue: #2395cd;

//MIXINS

@mixin gradient($from, $to) {
  // background-color: $from;
  // background-image: -moz-linear-gradient($from, $to);
  // background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
  // background-image: -webkit-linear-gradient($from, $to);


background: $to; /* Old browsers */
background: -moz-linear-gradient(top, $to, $to 21%, $from 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, $to 0%,$to 21%,$from 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, $to 0%,$to 21%,$from 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
background-image: -o-linear-gradient($to, $from);

}

$percent-color:3%;

@for $i from 1 through 10 {
  .pagesTable thead th:nth-child(#{$i}) {
    background: mix(yellow , red, $percent-color);
    border: 2px solid mix(red , yellow, $percent-color);
  }
  $percent-color : $percent-color + 10%;
}

.pagesTable thead th:first-child{
  background: transparent;
  border:0;
  color:white;
  &:hover{
    background: transparent;
    border:0;
    color:white;
  }
}

.pagesTable thead th{
  padding: 7px;
  border-radius: 10px;
  margin:2px 5px;
  color:white;
  min-width: 130px;
  &:hover{
    background: white;
    color: #2e2e2e;
    cursor: default;
  }
}

.mG-back{
  @include gradient($mainMyGene, #213542);
}
.mV-back{
  @include gradient($mainMyVariant, #213542);
}
.mC-back{
  @include gradient($mainMyChem, #213542);
}
.mB-back{
  @include gradient($mainBioThingsDarker, #213542);
}

.mG{
  background: $mainMyGene;
  &:hover {
        background: lighten($mainMyGene, 20% ) !important;
    }
}
.mV{
  background: $mainMyVariant;
  &:hover {
        background: lighten($mainMyVariant, 20% ) !important;
    }
}
.mC{
  background: $mainMyChem;
  &:hover {
        background: lighten($mainMyChem, 20% ) !important;
    }
}
.mB{
  background: $mainBioThings;
  &:hover {
        background: lighten($mainBioThings, 20% ) !important;
    }
}

//Animations

@-webkit-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px $mainMyGene, 0 0 70px $mainMyGene, 0 0 80px $mainMyGene, 0 0 100px $mainMyGene, 0 0 150px $mainMyGene;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px $mainMyGene, 0 0 35px $mainMyGene, 0 0 40px $mainMyGene, 0 0 50px $mainMyGene, 0 0 75px $mainMyGene;
  }
}

@-webkit-keyframes neonVariant {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px $mainMyVariant, 0 0 70px $mainMyVariant, 0 0 80px $mainMyVariant, 0 0 100px $mainMyVariant, 0 0 150px $mainMyVariant;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px $mainMyVariant, 0 0 35px $mainMyVariant, 0 0 40px $mainMyVariant, 0 0 50px $mainMyVariant, 0 0 75px $mainMyVariant;
  }
}

@-webkit-keyframes neonChem {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px $mainMyChem, 0 0 70px $mainMyChem, 0 0 80px $mainMyChem, 0 0 100px $mainMyChem, 0 0 150px $mainMyChem;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px $mainMyChem, 0 0 35px $mainMyChem, 0 0 40px $mainMyChem, 0 0 50px $mainMyChem, 0 0 75px $mainMyChem;
  }
}

@-webkit-keyframes neonBioThings {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px $mainBioThings, 0 0 70px $mainBioThings, 0 0 80px $mainBioThings, 0 0 100px $mainBioThings, 0 0 150px $mainBioThings;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px $mainBioThings, 0 0 35px $mainBioThings, 0 0 40px $mainBioThings, 0 0 50px $mainBioThings, 0 0 75px $mainBioThings;
  }
}

// HELPERS
.flex{
  display: flex;
}

.flex-center{
  justify-content: center;
}

.activeUsersBox{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,2c2c2c+50,000000+51,111111+60,2b2b2b+76,1c1c1c+91,131313+100;Black+Gloss+%231 */
  background: rgb(76,76,76); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
  padding: 20px;
  width: 50%;
  border-radius: 15px;
  border: white 2px solid;
  margin:auto !important;
  margin: 20px 0px;
}

.activeUsersBoxTest{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,2c2c2c+50,000000+51,111111+60,2b2b2b+76,1c1c1c+91,131313+100;Black+Gloss+%231 */
  background: rgb(76,76,76); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
  padding: 20px;
  border-radius: 15px;
  border: lightgrey 5px solid;
  box-shadow: 6px 6px 25px black;
}

.activeUsers-MyGene{
  font-size: 5em;
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;
}

.activeUsers-MyVariant{
  font-size: 5em;
  -webkit-animation: neonVariant 1.5s ease-in-out infinite alternate;
  animation: neonVariant 1.5s ease-in-out infinite alternate;
}

.activeUsers-MyChem{
  font-size: 5em;
  -webkit-animation: neonChem 1.5s ease-in-out infinite alternate;
  animation: neonChem 1.5s ease-in-out infinite alternate;
}

.activeUsers-BioThings{
  font-size: 5em;
  -webkit-animation: neonBioThings 1.5s ease-in-out infinite alternate;
  animation: neonBioThings 1.5s ease-in-out infinite alternate;
}

.twoEM{
  font-size: 2em;
}

.bold{
  font-weight: bold;
}

.centerText{
  text-align: center;
}

.padding20{
  padding:20px;
}

.margin20{
  margin:20px;
}

.noMargin{
  margin: 0;
}

.noPadding{
  padding: 0;
}

.whiteText{
  color:white;
}

.margin0Auto{
  margin: 0 auto;
}

body{
  font-family: sans-serif;
  height: 100vh;
}

h1,h2,h3,h4,h5{
  font-weight: lighter;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
.header {
	overflow: hidden;
	background-color: #414141;
	padding: 5px;
	a {
		float: left;
		color: $white;
		text-align: center;
		padding: 12px;
		text-decoration: none;
		font-size: 18px;
		line-height: 20px;
		border-radius: 4px;
		font-family: $font_family_1;
		// &:hover {
		// 	background-color: $light-grey2;
		// 	color: $white;
		// }
	}
	a.logo {
		font-size: 25px;
    color: white;
		font-weight: lighter;
	}
	a.active {
		background-color: $blue;
		color: $black;
	}
}
.header-right {
	float: right;
}
@media screen and (max-width: 500px) {
	.header {
		a {
			float: none;
			display: block;
			text-align: left;
		}
	}
	.header-right {
		float: none;
	}
}

@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,25%);
  }
}

.btn {
 color:white;
 text-decoration:none;
 padding:5px 10px;
 border-radius:3px;
 font-family: sans-serif;
}

.btn-green {
   @include button-bg($mainMyVariant);
}

.btn-blue {
   @include button-bg($mainMyGene);
}

.btn-yellow{
   @include button-bg($mainBioThings);
}

.btn-orange{
   @include button-bg($mainMyChem);
}

.btn-red {
   @include button-bg(#e74c3c);
}
.btn-grey {
   @include button-bg(#aaaaaa);
}

.bg-white{
  background: white;
}

.toggleNav{
  background: #b9b9b9;
  display: flex;
  justify-content:flex-start;
  flex-wrap: wrap;
  a{
    text-align: center;
    border-radius: 5px;
    flex: 1;
    margin: 5px;
    max-width: 150px;
    padding: 10px;
    text-decoration: none;
    &:hover{
      background: #464646;
    }
  }

}

#logoutbtn{
  background: #e85349;
  border-radius: 10px;
  border: 2px solid lightgrey;
  box-shadow: 2px 2px 2px grey;
  margin-right: 10px;
  display: inline-flex;
  &:hover{
    background: lighten(#e85349,10%);
    cursor: pointer;
    a{
      color:white;
    }
  }
}

#loginbtn{
  background: #85e849;
  border-radius: 10px;
  border: 2px solid lightgrey;
  box-shadow: 2px 2px 2px grey;
  margin-right: 10px;
  display: inline-flex;
  &:hover{
    background: lighten(#85e849,10%);
    cursor: pointer;
    a{
      color:white;
    }
  }
}

#footer{
  background: #414141;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
  p{
    color: #797979;
    font-size: .7em;
  }
}

.st0{fill:#4D4D4D;}
.st1{fill:#FFFFFF;}
.st2{fill:#D3D3D3;}
.st3{fill:#F15A24;}
.st4{fill:#C1272D;}
.st5{fill:#F7931E;}
.st6{fill:#FBB03B;}
.st7{fill:#ED1C24;}
.st8{fill:#333333;}

.users-gradient{
  width: 50%;
  height: 20px;
  border-radius: 10px;
  border: 2px solid white;
  margin:auto;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f49c+0,fbd758+34,fb993e+64,fe5252+100 */
background: rgb(247,244,156); /* Old browsers */
background: -moz-linear-gradient(left, rgba(247,244,156,1) 0%, rgba(251,215,88,1) 34%, rgba(251,153,62,1) 64%, rgba(254,82,82,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(247,244,156,1) 0%,rgba(251,215,88,1) 34%,rgba(251,153,62,1) 64%,rgba(254,82,82,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(247,244,156,1) 0%,rgba(251,215,88,1) 34%,rgba(251,153,62,1) 64%,rgba(254,82,82,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f49c', endColorstr='#fe5252',GradientType=1 ); /* IE6-9 */
}
